<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Signin to Wiki FTP</title>
        <link href="/dependencies/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/dependencies/font-awesome-4.0.3/css/font-awesome.min.css" />
        <link href="assets/css/login.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="row text-center">
                <span class="logo">Wiki FTP</span>
            </div>
            <form class="form-signin" role="form" action="auth" method="post">
                <h2 style="margin-top:0">Welcome</h2>
                <div class="alert <%=alerttype%>"><%=message%></div>
                <div class="input-group margin-bottom-sm" style="margin-bottom:5px">
                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                    <input class="form-control" name="username" type="text" placeholder="Email address" required autofocus />
                </div>
                <div class="input-group" style="margin-bottom:10px">
                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                    <input class="form-control" name="password" type="password" placeholder="Password" required />
                </div>
                <button class="btn btn-success btn-block" type="submit">Sign in</button>
            </form>
        </div>
    </body>
</html>