<table class="table" data-userid="new" id="table">
    <tr>
        <td>Username</td>
        <td><input type="text" class="form-control" placeholder="Username" id="username" /></td>
    </tr>
    <tr>
        <td>Password</td>
        <td>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Password" id="password" />
                <span class="input-group-addon">
                    <input type="checkbox" id="showHidePassword" checked />
                    <label for="showHidePassword">Show password</label>
                </span>
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button class="btn btn-success" id="userSubmit">Add User</button>
        </td>
    </tr>
</table>